# Тема “Обучение с учителем в Scikit-learn”

выполнил Колеганов Николай Дмитриевич

## Задание 1
Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и Y из этих данных.

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [19]:
boston = load_boston()
data = boston["data"]
print("Ключи в данных: \n",boston.keys())

Ключи в данных:
 dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [20]:
print("Размер данных: \n",data.shape)

Размер данных:
 (506, 13)

In [21]:
feature_names = boston["feature_names"]
print("Название колонок: \n", feature_names)

Название колонок:
 ['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [25]:
X = pd.DataFrame(data, columns=feature_names)
print("Сами данные в таблице\n")
X.head()

Сами данные в таблице

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,6.32e-03,18.0,2.31,0.0,0.54,6.58,65.2,4.09,1.0,296.0,15.3,396.90,4.98
1,2.73e-02,0.0,7.07,0.0,0.47,6.42,78.9,4.97,2.0,242.0,17.8,396.90,9.14
2,2.73e-02,0.0,7.07,0.0,0.47,7.18,61.1,4.97,2.0,242.0,17.8,392.83,4.03
3,3.24e-02,0.0,2.18,0.0,0.46,7.00,45.8,6.06,3.0,222.0,18.7,394.63,2.94
4,6.91e-02,0.0,2.18,0.0,0.46,7.15,54.2,6.06,3.0,222.0,18.7,396.90,5.33

In [35]:
target = boston["target"]
Y = pd.DataFrame(target, columns=["price"])
print("Цена\n")
Y.head()

Цена

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [46]:
print("Размеры получившихся тренировочных данных: ", X_train.shape, "Размеры тренировочных ответов: ", Y_train.shape)
print("Размеры получившихся тестовых данных: ", X_test.shape, "Размеры тестовых ответов: ", Y_test.shape)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print("Содержание получившихся тренировочных данных: \n", X_train.head())
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print("Содержание получившихся тестовых данных: \n", X_test.head())
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

Размеры получившихся тренировочных данных:  (354, 13) Размеры тренировочных ответов:  (354, 1)
Размеры получившихся тестовых данных:  (152, 13) Размеры тестовых ответов:  (152, 1)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Содержание получившихся тренировочных данных:
       CRIM   ZN  INDUS  CHAS   NOX    RM   AGE   DIS   RAD    TAX  PTRATIO  \
5     0.03  0.0   2.18   0.0  0.46  6.43  58.7  6.06   3.0  222.0     18.7
116   0.13  0.0  10.01   0.0  0.55  6.18  72.5  2.73   6.0  432.0     17.8
45    0.17  0.0   6.91   0.0  0.45  5.68  33.8  5.10   3.0  233.0     17.9
16    1.05  0.0   8.14   0.0  0.54  5.93  29.3  4.50   4.0  307.0     21.0
468  15.58  0.0  18.10   0.0  0.58  5.93  71.0  2.91  24.0  666.0     20.2

          B  LSTAT
5    394.12   5.21
116  393.30  12.04
45   396.90  10.21
16   386.85   6.58
468  368.74  18.13
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Содержание получившихся тестовых данных:
      CRIM    ZN  INDUS  CHAS   NOX    RM   AGE   DIS   RAD    TAX  PTRATIO  \
173  0.09   0.0   4.05   0.0  0.51  6.42  84.1  2.65   5.0  296.0     16.6
274  0.06  40.0   6.41   1.0  0.45  6.76  32.9  4.08   4.0  254.0     17.6
491  0.11   0.0  27.74   0.0  0.61  5.98  98.8  1.87   4.0  711.0     20.1
72   0.09   0.0  10.81   0.0  0.41  6.07   7.8  5.29   4.0  305.0     19.2
452  5.09   0.0  18.10   0.0  0.71  6.30  91.8  2.37  24.0  666.0     20.2

          B  LSTAT
173  395.50   9.04
274  396.90   3.53
491  390.11  18.07
72   390.91   5.52
452  385.09  17.27
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [0]:
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [48]:
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [49]:
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_lr": y_pred_lr.flatten()})

check_test_lr.head()

     Y_test  Y_pred_lr
173    23.6      28.65
274    32.4      36.50
491    13.6      15.41
72     22.8      25.40
452    16.1      18.86

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [0]:
from sklearn.metrics import r2_score

In [53]:
r2_score(Y_test, y_pred_lr)

0.7112260057484974

## Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы получить из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [57]:
from sklearn.ensemble import RandomForestRegressor


clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
clf.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [58]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "Y_test": Y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6       22.85
274    32.4       31.16
491    13.6       16.30
72     22.8       23.82
452    16.1       17.21

In [59]:
r2_score(Y_test, y_pred_clf)

0.8749965273218174

In [60]:
print("Результаты Линейной регресии: \n", r2_score(Y_test, y_pred_lr))
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print("Результаты Случайный лес: \n", r2_score(Y_test, y_pred_clf))

Результаты Линейной регресии:
 0.7112260057484974
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Результаты Случайный лес:
 0.8749965273218174

Алгоритм "Случайный лес" показывает более точные результаты, чем "линейная регрессия".

## * Задание 3
Вызовите документацию для класса , найдите информацию об атрибуте featureimportances.

С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность.

In [61]:
print(clf.feature_importances_)

[0.03211748 0.00154999 0.0070941  0.0011488  0.01436832 0.40270459
 0.01424477 0.06403265 0.00496762 0.01169177 0.01808961 0.0123114
 0.41567892]

In [62]:
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':clf.feature_importances_}, 
                                  columns=['feature_importance', 'name'])
feature_importance

    feature_importance     name
0             3.21e-02     CRIM
1             1.55e-03       ZN
2             7.09e-03    INDUS
3             1.15e-03     CHAS
4             1.44e-02      NOX
5             4.03e-01       RM
6             1.42e-02      AGE
7             6.40e-02      DIS
8             4.97e-03      RAD
9             1.17e-02      TAX
10            1.81e-02  PTRATIO
11            1.23e-02        B
12            4.16e-01    LSTAT

Найдем 2 признака имеющих наибольшую важность

In [63]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
12                0.42  LSTAT
5                 0.40     RM

Признаки LSTAT и RM обладают наибольшей важностью.

## * Задание 4
В этом задании мы будем работать с датасетом, с которым мы уже знакомы по домашнему заданию по библиотеке Matplotlib, это датасет Credit Card Fraud Detection.

Для этого датасета мы будем решать задачу классификации - будем определять, какие из транзакциции по кредитной карте являются мошенническими.

Данный датасет сильно несбалансирован (так как случаи мошенничества относительно редки), так что применение метрики accuracy не принесет пользы и не поможет выбрать лучшую модель.

Мы будем вычислять AUC, то есть площадь под кривой ROC.

Импортируйте из соответствующих модулей RandomForestClassifier, GridSearchCV и train_test_split.

Загрузите датасет creditcard.csv и создайте датафрейм df.

С помощью метода value_counts с аргументом normalize=True убедитесь в том, что выборка несбалансирована.

Используя метод info, проверьте, все ли столбцы содержат числовые данные и нет ли в них пропусков.

Примените следующую настройку, чтобы можно было просматривать все столбцы датафрейма:
pd.options.display.max_columns = 100.

Просмотрите первые 10 строк датафрейма df.

Создайте датафрейм X из датафрейма df, исключив столбец Class.

Создайте объект Series под названием y из столбца Class.

Разбейте X и y на тренировочный и тестовый наборы данных при помощи функции train_test_split, используя аргументы: test_size=0.3, random_state=100, stratify=y.

У вас должны получиться объекты X_train, X_test, y_train и y_test.
Просмотрите информацию о их форме.

Для поиска по сетке параметров задайте такие параметры:

parameters = [{'n_estimators': [10, 15],

'max_features': np.arange(3, 5),

'max_depth': np.arange(4, 7)}]

Создайте модель GridSearchCV со следующими аргументами:

estimator=RandomForestClassifier(random_state=100),

param_grid=parameters,

scoring='roc_auc',

cv=3.

Обучите модель на тренировочном наборе данных (может занять несколько минут).

Просмотрите параметры лучшей модели с помощью атрибута bestparams.

Предскажите вероятности классов с помощью полученнной модели и метода predict_proba.

Из полученного результата (массив Numpy) выберите столбец с индексом 1 (вероятность класса 1) и запишите в массив y_pred_proba.

Из модуля sklearn.metrics импортируйте метрику roc_auc_score.

Вычислите AUC на тестовых данных и сравните с результатом, полученным на тренировочных данных, используя в качестве аргументов массивы y_test и y_pred_proba.

In [0]:
from google.colab import files
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
##метрики
from sklearn.metrics import accuracy_score,auc, f1_score, confusion_matrix,precision_score, recall_score, roc_auc_score, roc_curve

In [67]:
file = files.upload()

Saving creditcard.csv to creditcard.csv

In [69]:
df = pd.read_csv('creditcard.csv')
print(df)

            Time     V1     V2    V3    V4    V5    V6    V7    V8    V9  \
0            0.0  -1.36  -0.07  2.54  1.38 -0.34  0.46  0.24  0.10  0.36
1            0.0   1.19   0.27  0.17  0.45  0.06 -0.08 -0.08  0.09 -0.26
2            1.0  -1.36  -1.34  1.77  0.38 -0.50  1.80  0.79  0.25 -1.51
3            1.0  -0.97  -0.19  1.79 -0.86 -0.01  1.25  0.24  0.38 -1.39
4            2.0  -1.16   0.88  1.55  0.40 -0.41  0.10  0.59 -0.27  0.82
...          ...    ...    ...   ...   ...   ...   ...   ...   ...   ...
284802  172786.0 -11.88  10.07 -9.83 -2.07 -5.36 -2.61 -4.92  7.31  1.91
284803  172787.0  -0.73  -0.06  2.04 -0.74  0.87  1.06  0.02  0.29  0.58
284804  172788.0   1.92  -0.30 -3.25 -0.56  2.63  3.03 -0.30  0.71  0.43
284805  172788.0  -0.24   0.53  0.70  0.69 -0.38  0.62 -0.69  0.68  0.39
284806  172792.0  -0.53  -0.19  0.70 -0.51 -0.01 -0.65  1.58 -0.41  0.49

         V10   V11   V12   V13   V14   V15   V16   V17   V18   V19       V20  \
0       0.09 -0.55 -0.62 -0.99 -0.31  1.47 -0.47  0.21  0.03  0.40  2.51e-01
1      -0.17  1.61  1.07  0.49 -0.14  0.64  0.46 -0.11 -0.18 -0.15 -6.91e-02
2       0.21  0.62  0.07  0.72 -0.17  2.35 -2.89  1.11 -0.12 -2.26  5.25e-01
3      -0.05 -0.23  0.18  0.51 -0.29 -0.63 -1.06 -0.68  1.97 -1.23 -2.08e-01
4       0.75 -0.82  0.54  1.35 -1.12  0.18 -0.45 -0.24 -0.04  0.80  4.09e-01
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...       ...
284802  4.36 -1.59  2.71 -0.69  4.63 -0.92  1.11  1.99  0.51 -0.68  1.48e+00
284803 -0.98 -0.15  0.92  1.21 -0.68  1.16 -0.71 -0.03 -1.22 -1.55  5.96e-02
284804 -0.48  0.41  0.06 -0.18 -0.51  1.33  0.14  0.31  0.40 -0.58  1.40e-03
284805 -0.40 -1.93 -0.96 -1.04  0.45  1.96 -0.61  0.51  1.11  2.90  1.27e-01
284806 -0.92 -1.04 -0.03 -0.19 -0.08  0.04 -0.30 -0.66  0.17 -0.26  3.83e-01

             V21       V22   V23       V24   V25   V26       V27   V28  \
0      -1.83e-02  2.78e-01 -0.11  6.69e-02  0.13 -0.19  1.34e-01 -0.02
1      -2.26e-01 -6.39e-01  0.10 -3.40e-01  0.17  0.13 -8.98e-03  0.01
2       2.48e-01  7.72e-01  0.91 -6.89e-01 -0.33 -0.14 -5.54e-02 -0.06
3      -1.08e-01  5.27e-03 -0.19 -1.18e+00  0.65 -0.22  6.27e-02  0.06
4      -9.43e-03  7.98e-01 -0.14  1.41e-01 -0.21  0.50  2.19e-01  0.22
...          ...       ...   ...       ...   ...   ...       ...   ...
284802  2.13e-01  1.12e-01  1.01 -5.09e-01  1.44  0.25  9.44e-01  0.82
284803  2.14e-01  9.24e-01  0.01 -1.02e+00 -0.61 -0.40  6.85e-02 -0.05
284804  2.32e-01  5.78e-01 -0.04  6.40e-01  0.27 -0.09  4.45e-03 -0.03
284805  2.65e-01  8.00e-01 -0.16  1.23e-01 -0.57  0.55  1.09e-01  0.10
284806  2.61e-01  6.43e-01  0.38  8.80e-03 -0.47 -0.82 -2.42e-03  0.01

        Amount  Class
0       149.62      0
1         2.69      0
2       378.66      0
3       123.50      0
4        69.99      0
...        ...    ...
284802    0.77      0
284803   24.79      0
284804   67.88      0
284805   10.00      0
284806  217.00      0

[284807 rows x 31 columns]

## Вспомогательные свои функции

In [0]:
## Просмотр данных
def prosmotr(data):
  pd.set_option('display.max_columns', 100) #Размеры таблицы
  pd.set_option('display.max_rows', 100)
  pd.set_option('precision', 2) #Регулируем количество знаков после запятой:
  print('~~~~Содержание данных~~~~\n', data.head())
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Размеры данных~~~\n', data.shape)
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Названия колонок~~~\n', data.columns)
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Информация о данных~~~\n')
  print(data.info())
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Наличие пропусков в данных~~~\n', data.isna().sum())
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Количество типов в данных~~~')
  print(data.dtypes.value_counts())
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  kateg = list(data.select_dtypes(include=['object']).columns) # Делаем список категориальных данных
  print('~~~Категориальные данные~~~~')
  print(kateg)
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  chislov_float = list(data.select_dtypes(include=['float64'])) #Делаем список числовых данных float
  print('~~~Числове данные float~~~~')
  print(chislov_float)
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  chislov_int = list(data.select_dtypes(include=['int64'])) #Делаем список числовых данных int
  print('~~~Числове данные int~~~~')
  print(chislov_int)
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Основные статистические характеристики данных по каждому числовому признаку (типы int64)~~~\n', data.describe(include=['int64']))
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
  print('~~~Основные статистические характеристики данных по каждому числовому признаку (типы float64)~~~\n', data.describe(include=['float64']))
  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
#  print('~~~Cтатистика по нечисловым признакам object ~~~\n', data.describe(include=['object']))
#  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
#  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
#  print('~~~Cтатистика по нечисловым признакам bool ~~~\n', data.describe(include=['bool']))
#  print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

In [72]:
prosmotr(df)

~~~~Содержание данных~~~~
    Time    V1    V2    V3    V4    V5    V6    V7    V8    V9   V10   V11  \
0   0.0 -1.36 -0.07  2.54  1.38 -0.34  0.46  0.24  0.10  0.36  0.09 -0.55
1   0.0  1.19  0.27  0.17  0.45  0.06 -0.08 -0.08  0.09 -0.26 -0.17  1.61
2   1.0 -1.36 -1.34  1.77  0.38 -0.50  1.80  0.79  0.25 -1.51  0.21  0.62
3   1.0 -0.97 -0.19  1.79 -0.86 -0.01  1.25  0.24  0.38 -1.39 -0.05 -0.23
4   2.0 -1.16  0.88  1.55  0.40 -0.41  0.10  0.59 -0.27  0.82  0.75 -0.82

    V12   V13   V14   V15   V16   V17   V18   V19   V20       V21       V22  \
0 -0.62 -0.99 -0.31  1.47 -0.47  0.21  0.03  0.40  0.25 -1.83e-02  2.78e-01
1  1.07  0.49 -0.14  0.64  0.46 -0.11 -0.18 -0.15 -0.07 -2.26e-01 -6.39e-01
2  0.07  0.72 -0.17  2.35 -2.89  1.11 -0.12 -2.26  0.52  2.48e-01  7.72e-01
3  0.18  0.51 -0.29 -0.63 -1.06 -0.68  1.97 -1.23 -0.21 -1.08e-01  5.27e-03
4  0.54  1.35 -1.12  0.18 -0.45 -0.24 -0.04  0.80  0.41 -9.43e-03  7.98e-01

    V23   V24   V25   V26       V27   V28  Amount  Class
0 -0.11  0.07  0.13 -0.19  1.34e-01 -0.02  149.62      0
1  0.10 -0.34  0.17  0.13 -8.98e-03  0.01    2.69      0
2  0.91 -0.69 -0.33 -0.14 -5.54e-02 -0.06  378.66      0
3 -0.19 -1.18  0.65 -0.22  6.27e-02  0.06  123.50      0
4 -0.14  0.14 -0.21  0.50  2.19e-01  0.22   69.99      0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Размеры данных~~~
 (284807, 31)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Названия колонок~~~
 Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Информация о данных~~~

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
None
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Наличие пропусков в данных~~~
 Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Количество типов в данных~~~
float64    30
int64       1
dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Категориальные данные~~~~
[]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Числове данные float~~~~
['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount']
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Числове данные int~~~~
['Class']
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Основные статистические характеристики данных по каждому числовому признаку (типы int64)~~~
           Class
count  2.85e+05
mean   1.73e-03
std    4.15e-02
min    0.00e+00
25%    0.00e+00
50%    0.00e+00
75%    0.00e+00
max    1.00e+00
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~Основные статистические характеристики данных по каждому числовому признаку (типы float64)~~~
             Time        V1        V2        V3        V4        V5        V6  \
count  284807.00  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05
mean    94813.86  3.92e-15  5.69e-16 -8.77e-15  2.78e-15 -1.55e-15  2.01e-15
std     47488.15  1.96e+00  1.65e+00  1.52e+00  1.42e+00  1.38e+00  1.33e+00
min         0.00 -5.64e+01 -7.27e+01 -4.83e+01 -5.68e+00 -1.14e+02 -2.62e+01
25%     54201.50 -9.20e-01 -5.99e-01 -8.90e-01 -8.49e-01 -6.92e-01 -7.68e-01
50%     84692.00  1.81e-02  6.55e-02  1.80e-01 -1.98e-02 -5.43e-02 -2.74e-01
75%    139320.50  1.32e+00  8.04e-01  1.03e+00  7.43e-01  6.12e-01  3.99e-01
max    172792.00  2.45e+00  2.21e+01  9.38e+00  1.69e+01  3.48e+01  7.33e+01

             V7        V8        V9       V10       V11       V12       V13  \
count  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05
mean  -1.69e-15 -1.93e-16 -3.14e-15  1.77e-15  9.17e-16 -1.81e-15  1.69e-15
std    1.24e+00  1.19e+00  1.10e+00  1.09e+00  1.02e+00  9.99e-01  9.95e-01
min   -4.36e+01 -7.32e+01 -1.34e+01 -2.46e+01 -4.80e+00 -1.87e+01 -5.79e+00
25%   -5.54e-01 -2.09e-01 -6.43e-01 -5.35e-01 -7.62e-01 -4.06e-01 -6.49e-01
50%    4.01e-02  2.24e-02 -5.14e-02 -9.29e-02 -3.28e-02  1.40e-01 -1.36e-02
75%    5.70e-01  3.27e-01  5.97e-01  4.54e-01  7.40e-01  6.18e-01  6.63e-01
max    1.21e+02  2.00e+01  1.56e+01  2.37e+01  1.20e+01  7.85e+00  7.13e+00

            V14       V15       V16       V17       V18       V19       V20  \
count  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05
mean   1.48e-15  3.48e-15  1.39e-15 -7.53e-16  4.33e-16  9.05e-16  5.09e-16
std    9.59e-01  9.15e-01  8.76e-01  8.49e-01  8.38e-01  8.14e-01  7.71e-01
min   -1.92e+01 -4.50e+00 -1.41e+01 -2.52e+01 -9.50e+00 -7.21e+00 -5.45e+01
25%   -4.26e-01 -5.83e-01 -4.68e-01 -4.84e-01 -4.99e-01 -4.56e-01 -2.12e-01
50%    5.06e-02  4.81e-02  6.64e-02 -6.57e-02 -3.64e-03  3.73e-03 -6.25e-02
75%    4.93e-01  6.49e-01  5.23e-01  4.00e-01  5.01e-01  4.59e-01  1.33e-01
max    1.05e+01  8.88e+00  1.73e+01  9.25e+00  5.04e+00  5.59e+00  3.94e+01

            V21       V22       V23       V24       V25       V26       V27  \
count  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05  2.85e+05
mean   1.54e-16  7.96e-16  5.37e-16  4.46e-15  1.45e-15  1.70e-15 -3.66e-16
std    7.35e-01  7.26e-01  6.24e-01  6.06e-01  5.21e-01  4.82e-01  4.04e-01
min   -3.48e+01 -1.09e+01 -4.48e+01 -2.84e+00 -1.03e+01 -2.60e+00 -2.26e+01
25%   -2.28e-01 -5.42e-01 -1.62e-01 -3.55e-01 -3.17e-01 -3.27e-01 -7.08e-02
50%   -2.95e-02  6.78e-03 -1.12e-02  4.10e-02  1.66e-02 -5.21e-02  1.34e-03
75%    1.86e-01  5.29e-01  1.48e-01  4.40e-01  3.51e-01  2.41e-01  9.10e-02
max    2.72e+01  1.05e+01  2.25e+01  4.58e+00  7.52e+00  3.52e+00  3.16e+01

            V28     Amount
count  2.85e+05  284807.00
mean  -1.21e-16      88.35
std    3.30e-01     250.12
min   -1.54e+01       0.00
25%   -5.30e-02       5.60
50%    1.12e-02      22.00
75%    7.83e-02      77.16
max    3.38e+01   25691.16
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [73]:
df['Class'].value_counts(normalize=True)

0    9.98e-01
1    1.73e-03
Name: Class, dtype: float64

In [0]:
pd.options.display.max_columns=100

In [76]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.36,-0.07,2.54,1.38,-0.34,0.46,2.40e-01,0.10,0.36,0.09,-0.55,-0.62,-0.99,-0.31,1.47,-0.47,2.08e-01,0.03,0.40,0.25,-1.83e-02,2.78e-01,-0.11,0.07,0.13,-0.19,1.34e-01,-2.11e-02,149.62,0
1,0.0,1.19,0.27,0.17,0.45,0.06,-0.08,-7.88e-02,0.09,-0.26,-0.17,1.61,1.07,0.49,-0.14,0.64,0.46,-1.15e-01,-0.18,-0.15,-0.07,-2.26e-01,-6.39e-01,0.10,-0.34,0.17,0.13,-8.98e-03,1.47e-02,2.69,0
2,1.0,-1.36,-1.34,1.77,0.38,-0.50,1.80,7.91e-01,0.25,-1.51,0.21,0.62,0.07,0.72,-0.17,2.35,-2.89,1.11e+00,-0.12,-2.26,0.52,2.48e-01,7.72e-01,0.91,-0.69,-0.33,-0.14,-5.54e-02,-5.98e-02,378.66,0
3,1.0,-0.97,-0.19,1.79,-0.86,-0.01,1.25,2.38e-01,0.38,-1.39,-0.05,-0.23,0.18,0.51,-0.29,-0.63,-1.06,-6.84e-01,1.97,-1.23,-0.21,-1.08e-01,5.27e-03,-0.19,-1.18,0.65,-0.22,6.27e-02,6.15e-02,123.50,0
4,2.0,-1.16,0.88,1.55,0.40,-0.41,0.10,5.93e-01,-0.27,0.82,0.75,-0.82,0.54,1.35,-1.12,0.18,-0.45,-2.37e-01,-0.04,0.80,0.41,-9.43e-03,7.98e-01,-0.14,0.14,-0.21,0.50,2.19e-01,2.15e-01,69.99,0
5,2.0,-0.43,0.96,1.14,-0.17,0.42,-0.03,4.76e-01,0.26,-0.57,-0.37,1.34,0.36,-0.36,-0.14,0.52,0.40,-5.81e-02,0.07,-0.03,0.08,-2.08e-01,-5.60e-01,-0.03,-0.37,-0.23,0.11,2.54e-01,8.11e-02,3.67,0
6,4.0,1.23,0.14,0.05,1.20,0.19,0.27,-5.16e-03,0.08,0.46,-0.10,-1.42,-0.15,-0.75,0.17,0.05,-0.44,2.82e-03,-0.61,-0.05,-0.22,-1.68e-01,-2.71e-01,-0.15,-0.78,0.75,-0.26,3.45e-02,5.17e-03,4.99,0
7,7.0,-0.64,1.42,1.07,-0.49,0.95,0.43,1.12e+00,-3.81,0.62,1.25,-0.62,0.29,1.76,-1.32,0.69,-0.08,-1.22e+00,-0.36,0.32,-0.16,1.94e+00,-1.02e+00,0.06,-0.65,-0.42,-0.05,-1.21e+00,-1.09e+00,40.80,0
8,7.0,-0.89,0.29,-0.11,-0.27,2.67,3.72,3.70e-01,0.85,-0.39,-0.41,-0.71,-0.11,-0.29,0.07,-0.33,-0.21,-5.00e-01,0.12,0.57,0.05,-7.34e-02,-2.68e-01,-0.20,1.01,0.37,-0.38,1.17e-02,1.42e-01,93.20,0
9,9.0,-0.34,1.12,1.04,-0.22,0.50,-0.25,6.52e-01,0.07,-0.74,-0.37,1.02,0.84,1.01,-0.44,0.15,0.74,-5.41e-01,0.48,0.45,0.20,-2.47e-01,-6.34e-01,-0.12,-0.39,-0.07,0.09,2.46e-01,8.31e-02,3.68,0

In [0]:
X1 = df.drop('Class', axis=1)

In [0]:
y1 = df['Class']

In [0]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y1, test_size=0.3, random_state=100, stratify=y1)

In [85]:
print("Размеры получившихся тренировочных данных: ", X_train1.shape, "Размеры тренировочных ответов: ", y_train1.shape)
print("Размеры получившихся тестовых данных: ", X_test1.shape, "Размеры тестовых ответов: ", y_test1.shape)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print("Содержание получившихся тренировочных данных: \n", X_train1.head())
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print("Содержание получившихся тестовых данных: \n", X_test1.head())
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')

Размеры получившихся тренировочных данных:  (199364, 30) Размеры тренировочных ответов:  (199364,)
Размеры получившихся тестовых данных:  (85443, 30) Размеры тестовых ответов:  (85443,)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Содержание получившихся тренировочных данных:
             Time    V1    V2    V3    V4    V5    V6    V7    V8        V9  \
222925  143180.0  2.05 -0.15 -1.09  0.42 -0.23 -1.16  0.08 -0.24  7.33e-01
163811  116231.0  0.15  1.11 -0.39 -0.56  1.01 -0.80  1.04 -0.17 -2.01e-01
196038  131332.0  2.15  0.22 -2.22 -0.07  0.82 -1.36  0.84 -0.59  9.74e-03
25173    33527.0 -0.35  0.10  1.72 -0.88 -0.37 -0.06 -0.14  0.16 -1.84e+00
253792  156421.0 -0.44  1.87 -1.11  1.06  1.24 -0.63  1.10  0.22 -9.17e-01

         V10   V11   V12   V13   V14   V15   V16   V17   V18   V19   V20  \
222925  0.10 -0.91 -0.22 -1.22  0.53  0.23 -0.10 -0.16 -0.80  0.08 -0.31
163811 -0.86 -0.54  0.42  1.03 -1.22 -0.35  0.29  0.30 -0.33 -0.23  0.08
196038 -0.02 -0.48  0.85  1.14  0.56  0.29 -0.66 -0.36 -0.65  0.13 -0.13
25173   0.52  1.63 -0.26 -0.10  0.13  0.70  0.59  0.67 -1.19  1.69  0.30
253792 -0.84 -0.89 -0.22 -0.08 -0.76 -0.17 -0.55  1.44  0.39  0.59  0.02

         V21   V22   V23   V24   V25   V26   V27   V28  Amount
222925 -0.30 -0.78  0.36 -0.05 -0.36  0.21 -0.08 -0.06    1.29
163811 -0.33 -0.76  0.08  0.59 -0.38  0.11  0.23  0.09    2.69
196038  0.15  0.61 -0.03  0.82  0.51  0.20 -0.08 -0.07    4.55
25173   0.14  0.22 -0.01  0.02 -0.33 -0.29  0.12  0.10   19.95
253792  0.06  0.37 -0.25  0.49  0.09 -0.40  0.33  0.22    6.30
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Содержание получившихся тестовых данных:
             Time    V1    V2    V3    V4    V5    V6    V7    V8    V9  \
262922  160713.0 -0.55  1.38  0.05  4.30  1.76  0.08  1.79 -0.30 -2.94
123418   76919.0  0.44  1.82 -2.30  1.54  0.79 -1.41  0.48  0.34 -0.67
206135  136082.0  2.06  0.04 -1.30  0.37  0.03 -1.35  0.33 -0.46  0.45
273483  165598.0 -0.50  0.79  1.70 -0.64  0.49  0.43  0.51  0.05  0.55
245758  152894.0  1.61 -0.94 -1.20  0.65 -0.39 -0.47  0.07 -0.15  0.85

             V10   V11   V12   V13   V14   V15   V16   V17   V18       V19  \
262922  1.39e+00 -1.87 -1.75 -0.85  1.06  0.37 -0.78  0.32  0.21  1.70e+00
123418 -1.23e+00  1.88 -0.20 -0.69 -2.93  0.43  1.28  2.65  2.22 -3.61e-04
206135 -1.64e-02 -0.53  0.80  1.01  0.30  0.64 -0.26 -0.55 -0.18 -2.44e-01
273483 -5.46e-01 -1.55 -0.96 -0.91 -0.07  1.56  0.04 -0.67  0.65  1.01e+00
245758  5.01e-03 -1.03 -0.11 -0.65  0.31  0.41  0.18 -0.41 -0.21 -1.72e-01

             V20   V21   V22   V23   V24   V25   V26   V27       V28  Amount
262922  4.52e-01  0.32  0.70 -0.53 -0.68  1.23  0.98 -0.04  5.30e-02  101.42
123418 -9.73e-03 -0.08 -0.17  0.11 -0.37 -0.44 -0.39  0.12 -6.13e-02    9.99
206135 -1.68e-01  0.26  0.95 -0.02  0.11  0.30 -0.12 -0.02 -5.50e-02   10.49
273483  2.12e-01 -0.28 -0.55 -0.37 -0.04  0.43 -0.66  0.18 -8.18e-02    1.00
245758  2.14e-01  0.08 -0.18  0.07  0.74 -0.28  0.17 -0.09 -9.69e-03  227.75
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [0]:
parameters = [{
    'n_estimators': [10, 15], 
    'max_features': np.arange(3, 5), 
    'max_depth': np.arange(4, 7)
}]

In [0]:
clf1 = GridSearchCV(
    estimator=RandomForestClassifier(random_state=100),
    param_grid=parameters,
    scoring='roc_auc',
    cv=3,
)

In [90]:
clf1.fit(X_train1, y_train1)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=100,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'max_depth': array([4, 5, 6]),
                          'max_features': array([3, 4]),
                          'n_estimators': [10, 15]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [91]:
print("Лучшие параметры\n", clf1.best_params_)

Лучшие параметры
 {'max_depth': 6, 'max_features': 3, 'n_estimators': 15}

In [92]:
clf_luch = RandomForestClassifier(max_depth=6, max_features=3, n_estimators=15)

clf_luch.fit(X_train1, y_train1)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=6, max_features=3,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=15,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_pred_luch = clf_luch.predict_proba(X_test1)

In [0]:
y_pred_luch = y_pred_luch[:, 1]

In [97]:
roc_auc_score(y_test1,y_pred_luch)

0.9338325018259364

## **Дополнительные задания:
Загрузите датасет Wine из встроенных датасетов sklearn.datasets с помощью функции load_wine в переменную data.

In [0]:
from sklearn.datasets import load_wine
data = load_wine()

Полученный датасет не является датафреймом. Это структура данных, имеющая ключи аналогично словарю. Просмотрите тип данных этой структуры данных и создайте список data_keys, содержащий ее ключи.

In [101]:
data_keys = data.keys()
print(data_keys)

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

Просмотрите данные, описание и названия признаков в датасете. Описание нужно вывести в виде привычного, аккуратно оформленного текста, без обозначений переноса строки, но с самими переносами и т.д.

In [102]:
data.data

array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
        1.050e+03],
       [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
        1.185e+03],
       ...,
       [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
        8.350e+02],
       [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
        8.400e+02],
       [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
        5.600e+02]])

In [103]:
print(data.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [104]:
data.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

Сколько классов содержит целевая переменная датасета? Выведите названия классов.

In [105]:
print(set(data.target))
print(len(set(data.target)))

{0, 1, 2}
3

In [106]:
data.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

На основе данных датасета (они содержатся в двумерном массиве Numpy) и названий признаков создайте датафрейм под названием X.

In [107]:
X = pd.DataFrame(data.data, columns=data.feature_names)
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

Выясните размер датафрейма X и установите, имеются ли в нем пропущенные значения.

In [109]:
X.shape

(178, 13)

In [110]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
alcohol                         178 non-null float64
malic_acid                      178 non-null float64
ash                             178 non-null float64
alcalinity_of_ash               178 non-null float64
magnesium                       178 non-null float64
total_phenols                   178 non-null float64
flavanoids                      178 non-null float64
nonflavanoid_phenols            178 non-null float64
proanthocyanins                 178 non-null float64
color_intensity                 178 non-null float64
hue                             178 non-null float64
od280/od315_of_diluted_wines    178 non-null float64
proline                         178 non-null float64
dtypes: float64(13)
memory usage: 18.2 KB

Добавьте в датафрейм поле с классами вин в виде чисел, имеющих тип данных numpy.int64. Название поля - 'target'.

In [0]:
X['target'] = data.target

In [112]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

Постройте матрицу корреляций для всех полей X. Дайте полученному датафрейму название X_corr.

In [113]:
X_corr = X.corr()
X_corr

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
alcohol,1.00,0.09,2.12e-01,-0.31,0.27,0.29,0.24,-0.16,1.37e-01,0.55,-0.07,7.23e-02,0.64,-0.33
malic_acid,0.09,1.00,1.64e-01,0.29,-0.05,-0.34,-0.41,0.29,-2.21e-01,0.25,-0.56,-3.69e-01,-0.19,0.44
ash,0.21,0.16,1.00e+00,0.44,0.29,0.13,0.12,0.19,9.65e-03,0.26,-0.07,3.91e-03,0.22,-0.05
alcalinity_of_ash,-0.31,0.29,4.43e-01,1.00,-0.08,-0.32,-0.35,0.36,-1.97e-01,0.02,-0.27,-2.77e-01,-0.44,0.52
magnesium,0.27,-0.05,2.87e-01,-0.08,1.00,0.21,0.20,-0.26,2.36e-01,0.20,0.06,6.60e-02,0.39,-0.21
total_phenols,0.29,-0.34,1.29e-01,-0.32,0.21,1.00,0.86,-0.45,6.12e-01,-0.06,0.43,7.00e-01,0.50,-0.72
flavanoids,0.24,-0.41,1.15e-01,-0.35,0.20,0.86,1.00,-0.54,6.53e-01,-0.17,0.54,7.87e-01,0.49,-0.85
nonflavanoid_phenols,-0.16,0.29,1.86e-01,0.36,-0.26,-0.45,-0.54,1.00,-3.66e-01,0.14,-0.26,-5.03e-01,-0.31,0.49
proanthocyanins,0.14,-0.22,9.65e-03,-0.20,0.24,0.61,0.65,-0.37,1.00e+00,-0.03,0.30,5.19e-01,0.33,-0.50
color_intensity,0.55,0.25,2.59e-01,0.02,0.20,-0.06,-0.17,0.14,-2.52e-02,1.00,-0.52,-4.29e-01,0.32,0.27
hue,-0.07,-0.56,-7.47e-02,-0.27,0.06,0.43,0.54,-0.26,2.96e-01,-0.52,1.00,5.65e-01,0.24,-0.62
od280/od315_of_diluted_wines,0.07,-0.37,3.91e-03,-0.28,0.07,0.70,0.79,-0.50,5.19e-01,-0.43,0.57,1.00e+00,0.31,-0.79
proline,0.64,-0.19,2.24e-01,-0.44,0.39,0.50,0.49,-0.31,3.30e-01,0.32,0.24,3.13e-01,1.00,-0.63
target,-0.33,0.44,-4.96e-02,0.52,-0.21,-0.72,-0.85,0.49,-4.99e-01,0.27,-0.62,-7.88e-01,-0.63,1.00

Создайте список high_corr из признаков, корреляция которых с полем target по абсолютному значению превышает 0.5 (причем, само поле target не должно входить в этот список).

In [114]:
high_corr = X_corr.loc[(abs(X_corr['target']) > 0.5) & (X_corr.index != 'target'), X_corr.columns != 'target'].index
high_corr

Index(['alcalinity_of_ash', 'total_phenols', 'flavanoids', 'hue',
       'od280/od315_of_diluted_wines', 'proline'],
      dtype='object')

Удалите из датафрейма X поле с целевой переменной. Для всех признаков, названия которых содержатся в списке high_corr, вычислите квадрат их значений и добавьте в датафрейм X соответствующие поля с суффиксом '_2', добавленного к первоначальному названию признака. Итоговый датафрейм должен содержать все поля, которые, были в нем изначально, а также поля с признаками из списка high_corr, возведенными в квадрат. Выведите описание полей датафрейма X с помощью метода describe.

In [115]:
X = X.drop('target', axis=1)
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [0]:
for feature_name in high_corr:
    X[f'{feature_name}_2'] = X.apply(lambda row: row[feature_name] ** 2, axis=1)

In [117]:
X.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,alcalinity_of_ash_2,total_phenols_2,flavanoids_2,hue_2,od280/od315_of_diluted_wines_2,proline_2
count,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,178.00,1.78e+02
mean,13.00,2.34,2.37,19.49,99.74,2.30,2.03,0.36,1.59,5.06,0.96,2.61,746.89,391.14,5.66,5.11,0.97,7.32,6.56e+05
std,0.81,1.12,0.27,3.34,14.28,0.63,1.00,0.12,0.57,2.32,0.23,0.71,314.91,133.67,2.94,4.21,0.44,3.58,5.56e+05
min,11.03,0.74,1.36,10.60,70.00,0.98,0.34,0.13,0.41,1.28,0.48,1.27,278.00,112.36,0.96,0.12,0.23,1.61,7.73e+04
25%,12.36,1.60,2.21,17.20,88.00,1.74,1.20,0.27,1.25,3.22,0.78,1.94,500.50,295.84,3.04,1.45,0.61,3.75,2.51e+05
50%,13.05,1.87,2.36,19.50,98.00,2.35,2.13,0.34,1.56,4.69,0.96,2.78,673.50,380.25,5.55,4.56,0.93,7.73,4.54e+05
75%,13.68,3.08,2.56,21.50,107.00,2.80,2.88,0.44,1.95,6.20,1.12,3.17,985.00,462.25,7.84,8.27,1.25,10.05,9.70e+05
max,14.83,5.80,3.23,30.00,162.00,3.88,5.08,0.66,3.58,13.00,1.71,4.00,1680.00,900.00,15.05,25.81,2.92,16.00,2.82e+06